<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ParameterVocabularies</key>
	<array/>
	<key>IntentPhrases</key>
	<array>
		<dict>
			<key>IntentName</key>
			<string>INStartWorkoutIntent</string>
			<key>IntentExamples</key>
			<array>
				<string>Начни тренировку в Villain Arc</string>
				<string>Запусти тренировку через Villain Arc</string>
				<string>Приступи к тренировке в Villain Arc</string>
			</array>
		</dict>
		<dict>
			<key>IntentName</key>
			<string>INCancelWorkoutIntent</string>
			<key>IntentExamples</key>
			<array>
				<string>Отмени тренировку в Villain Arc</string>
				<string>Останови тренировку в Villain Arc</string>
			</array>
		</dict>
		<dict>
			<key>IntentName</key>
			<string>INEndWorkoutIntent</string>
			<key>IntentExamples</key>
			<array>
				<string>Заверши тренировку в Villain Arc</string>
				<string>Закончи тренировку в Villain Arc</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
