<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ParameterVocabularies</key>
	<array/>
	<key>IntentPhrases</key>
	<array>
		<dict>
			<key>IntentName</key>
			<string>INStartWorkoutIntent</string>
			<key>IntentExamples</key>
			<array>
				<string>用Villain Arc开始一次锻炼</string>
				<string>在Villain Arc开始我的训练</string>
				<string>打开Villain Arc开始运动</string>
			</array>
		</dict>
		<dict>
			<key>IntentName</key>
			<string>INCancelWorkoutIntent</string>
			<key>IntentExamples</key>
			<array>
				<string>取消我在Villain Arc的锻炼</string>
				<string>停止我在Villain Arc的锻炼</string>
			</array>
		</dict>
		<dict>
			<key>IntentName</key>
			<string>INEndWorkoutIntent</string>
			<key>IntentExamples</key>
			<array>
				<string>结束我在Villain Arc的锻炼</string>
				<string>完成我在Villain Arc的锻炼</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
