<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleSpokenName</key>
	<string>Villain Arc</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>villainarc</string>
			</array>
		</dict>
	</array>
	<key>INAlternativeAppNames</key>
	<array>
		<dict>
			<key>INAlternativeAppName</key>
			<string>VillainArc</string>
		</dict>
	</array>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.villainarc.health-metrics-refresh</string>
	</array>
	<key>NSUserActivityTypes</key>
	<array>
		<string>com.villainarc.siri.startWorkout</string>
		<string>com.villainarc.siri.cancelWorkout</string>
		<string>com.villainarc.siri.endWorkout</string>
	</array>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>com.villainarc.quickaction.startTodaysWorkout</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Start Today's Workout</string>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>figure.strengthtraining.traditional</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>com.villainarc.quickaction.addWeightEntry</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Add Weight Entry</string>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>scalemass.fill</string>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
